html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Verdana", sans-serif;
  font-size: 11px;
  color: rgb(54, 54, 54);
  line-height: 30px;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  padding: 12px 0;
  background-color: rgb(21, 21, 21);
}

.wrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background-image: url("../img/header-image/header_bg.png"),
    linear-gradient(to top, rgb(23, 23, 23) 0%, rgb(46, 46, 46) 100%);
  background-position: 55%;
  background-repeat: no-repeat;
  background-color: rgb(21, 21, 21);
}

.page-header {
  background-color: rgb(22, 21, 21);
  background-image: linear-gradient(
    to top,
    rgb(23, 23, 23) 50%,
    rgb(46, 46, 46) 100%
  );
}

.page-nav {
  display: flex;
  justify-content: space-between;
}

.page-logo__link {
  position: relative;
  display: block;
  padding-top: 45px;
  padding-bottom: 57px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.page-logo__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Comfortaa", sans-serif;
  font-size: 58px;
  line-height: 47px;
}

.page-logo__descr {
  font-family: "Geneva", sans-serif;
  font-size: 12px;
  line-height: 10px;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  color: rgb(255, 255, 255);
}

.header-menu,
.footer-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu__item,
.footer-menu__item {
  margin: 0;
  padding: 0;
}

.header-menu__link,
.footer-menu__link {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  font-family: "Verdana", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(97, 97, 97);
  text-decoration: none;
}

.header-menu__link:hover,
.header-menu__link:active,
.footer-menu__link:hover,
.footer-menu__link:active {
  color: rgb(204, 196, 181);
  transform: scale(1.2);
}

.header-menu__item::after,
.footer-menu__item::after {
  position: absolute;
  content: "\007C";
  color: rgb(33, 33, 33);
}

.header-menu__item::after {
  color: rgb(65, 63, 63);
}

.header-menu__item:last-child::after,
.footer-menu__item:last-child::after {
  content: "";
}

.header-subscribe {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 18px;
  z-index: 1000;
}

.header-subscribe-box {
  display: flex;
  padding-bottom: 10px;
}

.subscribe-descr {
  position: relative;
  padding-left: 30px;
  margin: 0;
  line-height: 30px;
  color: rgb(110, 110, 110);
  z-index: 1000;
}

.subscribe-descr::before {
  position: absolute;
  content: "";
  top: 8px;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/header-image/connect.png");
}

.subscribe-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.subscribe-menu__item {
  padding: 0;
  margin: 0;
}

.subscribe-menu__link {
  position: relative;
  display: inline-block;
  padding: 0 6px;
  font-family: "Verdana", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(169, 169, 169);
  text-decoration: none;
  z-index: 1000;
}

.subscribe-menu__link:hover,
.subscribe-menu__link:active {
  color: rgb(204, 196, 181);
}

.subscribe-menu__item::after {
  position: absolute;
  content: "\007C";
  margin-left: -2px;
  color: rgb(87, 85, 85);
}

.subscribe-menu__item:last-child::after {
  content: "";
}

.subscribe-search {
  position: relative;
  width: 300px;
  height: 38px;
  padding: 10px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 0 rgba(173, 173, 173, 0.11);
  background-color: #000000;
  background-image: url("../img/header-image/header-search.png");
  background-repeat: no-repeat;
  background-position: 96%;
  z-index: 1000;
}

.subscribe-search::placeholder {
  color: rgb(93, 93, 93);
}

/* CONTENT */

.content-nav {
  position: relative;
  padding: 15px 0 20px;
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(
    to top,
    rgb(39, 39, 39) 0%,
    rgb(51, 51, 51) 100%
  );
}

.content-nav::before {
  content: "";
  position: absolute;
  top: -11px;
  display: block;
  width: 100%;
  height: 11px;
  background-color: rgb(20, 20, 20);
}

.content-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.content-menu__link {
  display: block;
  font-family: "Arial MT Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(156, 156, 156);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.82);
  text-transform: uppercase;
  letter-spacing: -0.14px;
  text-decoration: none;
}

.content-menu__link:hover {
  color: rgb(167, 165, 128);
}

/* SECTION CARDS */

.cards-section {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(48, 48, 48);
  z-index: 13;
}

.cards-section::before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 410px;
  background-image: url("../img/cards-image/cards-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.cards-section::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 410px;
  background-image: url("../img/cards-image/cards-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  z-index: 1;
}

.cards {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 13;
}

.cards__item {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #282828;
  background-image: url("../img/cards-image/cards-bg.png");
}

.cards-box {
  margin-bottom: 12px;
  background-color: rgb(25, 25, 25);
  background-image: url("../img/cards-image/cards-bg.png");
}

.cards-descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 16px;
  background-color: rgb(19, 19, 19);
  background-image: url("../img/cards-image/cards-bg.png");
}
.cards-title {
  margin: 0;
  font-size: 12px;
  color: rgb(93, 93, 93);
}

.cards-number {
  font-weight: 700;
  line-height: 19px;
  color: rgb(84, 82, 82);
}

.cards-number::before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 8px;
  vertical-align: middle;
  background-image: url("../img/cards-icon/tooltip.png");
}

.card-box__image {
  width: 203px;
  height: 169px;
}

.cards__image {
  padding: 18px 40px;
  margin: 0 auto;
}

.cards__item:hover .cards__image {
  transform: scale(1.3);
}

.cards-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__comments {
  margin: 0;
  font-size: 11px;
  color: rgb(93, 93, 93);
  line-height: 1.2;
}

.star-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.star-list__item {
  width: 14px;
  height: 14px;
  margin-right: 3px;
  background-image: url("../img/cards-icon/star-icon-yellow.png");
}

.star-list__item:last-child {
  margin-right: 0;
  background-image: url("../img/cards-icon/star-icon-grey.png");
}

.cards-pages {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px 11px 10px 18px;
  background-color: #282828;
  background-image: url("../img/cards-image/cards-bg.png");
  border-radius: 10px;
  z-index: 15;
}

.cards-pages__descr {
  margin: 0;
  color: rgb(74, 74, 74);
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}

.cards-pages__descr span {
  color: #757575;
}

.pages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pages-list__item {
  margin-right: 5px;
}

.pages-list__item:last-child {
  margin-right: 0;
}

.pages-list__button {
  padding: 10px 13px;
  font-weight: 700;
  color: #393939;
  border: none;
  background-color: #282828;
  cursor: pointer;
}

.pages-list__button:hover {
  color: #949494;
  background-color: #0b0b0b;
}

.pages-list__item > .active {
  color: #949494;
  background-color: #0b0b0b;
}

/* FOOTER */

.page-footer {
  background-color: #121212;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.footer-top {
  padding-top: 30px;
  padding-bottom: 30px;
}

.title {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Comfortaa", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 23px;
  color: rgb(255, 255, 255);
}

.footer-about-list,
.footer-popular-list,
.footer-followers-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-about-list__link,
.footer-popular-list__link {
  display: block;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(74, 74, 74);
  text-decoration: none;
}

.footer-popular-list__link span {
  color: #a2a2a2;
}

.footer-followers-list {
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 224px;
}

.footer-followers-list__item {
  margin-right: 14px;
  margin-bottom: 14px;
}

.footer-followers-list__item:nth-child(5n) {
  margin-right: 0;
}

.footer-followers-list__item:nth-last-child(-n + 5) {
  margin-bottom: 0;
}

.footer-icon {
  display: block;
  width: 30px;
  height: 30px;
}

.footer-icon:hover {
  transform: scale(1.3);
}

.icon-1 {
  background-image: url("../img/icons-footer/icon-1.png");
}
.icon-2 {
  background-image: url("../img/icons-footer/icon-2.png");
}
.icon-3 {
  background-image: url("../img/icons-footer/icon-3.png");
}
.icon-4 {
  background-image: url("../img/icons-footer/icon-4.png");
}
.icon-5 {
  background-image: url("../img/icons-footer/icon-5.png");
}
.icon-6 {
  background-image: url("../img/icons-footer/icon-6.png");
}
.icon-7 {
  background-image: url("../img/icons-footer/icon-7.png");
}
.icon-8 {
  background-image: url("../img/icons-footer/icon-8.png");
}
.icon-9 {
  background-image: url("../img/icons-footer/icon-9.png");
}
.icon-10 {
  background-image: url("../img/icons-footer/icon-10.png");
}
.icon-11 {
  background-image: url("../img/icons-footer/icon-11.png");
}
.icon-12 {
  background-image: url("../img/icons-footer/icon-12.png");
}
.icon-13 {
  background-image: url("../img/icons-footer/icon-13.png");
}
.icon-14 {
  background-image: url("../img/icons-footer/icon-14.png");
}
.icon-15 {
  background-image: url("../img/icons-footer/icon-15.png");
}

.footer-twit {
  position: relative;
  width: 284px;
  padding: 16px 37px 16px 37px;
  background-color: #1e1e1e;
  border-radius: 10px;
}

.footer-twit::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 20px solid #1e1e1e;
  border-left: 20px solid #1e1e1e;
}

.twit__massege {
  margin: 0;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 20px;
  color: rgb(74, 74, 74);
}

.twit__massege span {
  color: rgb(185, 185, 185);
}

.twit-checkout {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  color: rgb(74, 74, 74);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 15px;
  background-color: rgb(0, 0, 0);
}

.copyright {
  margin: 0;
  line-height: 20px;
}

.copyright span {
  color: #757575;
  cursor: pointer;
}
